{% extends 'hello/base.html' %}
{%  load staticfiles %}
{% block body %}
    <img src="{% static 'hello/images/octocat.jpg' %}" alt="Octocat" height="300" weight="auto">
    <h1>Hello, {{ user.first_name }} {{ pessoa.sobrenome }}</h1>
    <h2>Matérias</h2>
    <table class="table table-striped table-bordered table-hover">
    <thead>
        <th>Matéria</th>
        <th>Turma</th>
        <th>Professor(a)</th>
    </thead>
        {% for materia in materias %}
            <tr>
                <td>{{ materia.nome }}</td>
                <td>{{ materia.turma }}</td>
                <td>
                    {% for professor in materia.professor.all %}
                        {{ professor.nome }} {{ professor.sobrenome }}<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock body%}